<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md p-5 modal-dialog-centered">
        <div class="modal-content">
            <div class="swal2-popup swal2-modal swal2-icon-success" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
                <div class="swal2-header">
                    <h2 class="swal2-title" id="swal2-title">Confirmation</h2>
                    <button type="button" class="close swal2-close" aria-label="Close this dialog">
                        &times;
                    </button>
                </div>
                <div class="swal2-content pb-2">
                    <div id="swal2-content" class="swal2-html-container">All is good! Please confirm the form submission.</div>
                </div>
            </div>
            <div class="swal2-actions pb-4 pt-2">
                <button type="submit" class="swal2-confirm btn fw-bold btn-info" aria-label="Confirm Submission">Yes, submit!</button>
                <button type="button" class="swal2-cancel btn fw-bold btn-secondary ml-3" data-dismiss="modal" aria-label="Cancel Submission">No, cancel</button>
            </div>
        </div>
    </div>
</div>
