{% extends 'clerk_templates/base_template.html' %}
{% block page_title %}
<h5>All Patients</h5>
{% endblock page_title %}

{% block main_content %}
<section class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Oh snap!</strong> {{ message }}
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Well done!</strong> {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4 class="card-title">Patients Details</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="plist">
                        <thead class="thead-light">
                            <tr>
                                <th>No</th>
                                <th>Picture</th>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patients %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <img src="{{ patient.profile_pic.url }}" class="img-circle" width="35" height="35" alt="Patient Image">
                                </td>
                                <td>{{ patient.admin.username }}</td>
                                <td>{{ patient.admin.first_name }}</td>
                                <td>{{ patient.admin.last_name }}</td>
                                <td>{{ patient.admin.email }}</td>
                                <td>{{ patient.phone_number }}</td>
                                <td>{{ patient.address }}</td>
                                <td class="text-center">
                                    <a href="{% url 'edit_patient_clerk' patient.admin.id %}" class="btn btn-sm btn-success">Edit</a>
                                    <a href="{% url 'delete_patient_clerk' patient.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    <a href="{% url 'patient_record_clerk' patient.id %}" class="btn btn-sm btn-warning">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
